@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --pink: #e22b5c;
    --medium-purple: #bb4779;
    --purple: #875796;
    --light-blue: #75c2cf;
    --blue: #6979b3;
    --aqua-blue: #3cb48e;
}

